<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>LET ME SHOW YOU MY POKEMANS</h1>
    <div><img src="https://i.kym-cdn.com/entries/icons/facebook/000/000/129/FE4PC2ROMRJFS4DYSMMNPMKWKM3SAZ4H.jpg" alt="" srcset=""></div>
    <div >
        <ul>
        <%  for (var critter of savedCritters) {%>
 
            <li class="name"><%= critter.name  %> </li>

            <% } %>
        </ul>
</body>
</html>

