<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ( '../layout/head' ) %>
</head>
<body>
    <header>
        <%- include ( '../layout/header' ) %>
    </header>
    <h1>Meet the Team</h1>
<section class="team">
    <div class="team-image-a">
        <img src="./images/michelle.png">
        <h2>Michelle</h2>
        <p class="team-info-a">I am a software engineer with over 13 years in the Medical field, 7 years in Leadership and 2 years working as a Business Analyst. My career goals are to align myself in a technical field and leverage my skills and experience within that role. My drive to learn and curious nature are my best qualities. My two study partners are my fur babies Avocado and Yoshi</p> 
    </div>

    <div class="team-image-b">
        <img src="./images/ryan.png">
        <h2>Ryan</h2>
        <p class="team-info-b">Ryan</p> 
    </div>
    <div class="team-image-c">
        <img src="./images/chris.png">
        <h2>Chris</h2>
        <p class="team-info-c">Chris</p> 
    </div>
    <div class="team-image-d">
        <img src="./images/davee.png">
        <h2>Davee</h2>
        <p class="team-info-d">Davee</p> 
    </div>
</section>
    
</body>
</html>