<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ( '../layout/head' ) %>
  </head>
  <body>
    <header>
      <%- include ( '../layout/header' ) %>
    </header>
    <h1>Meet the Team</h1>

    <section class="about-section">
      <div class="team-member-card">
        <img src="/images/michelle.png" />
        <article>

            <h2>Michelle</h2>
            <p class="team-info">
                I am a software engineer with over 13 years in the Medical field, 7
                years in Leadership and 2 years working as a Business Analyst. My
                career goals are to align myself in a technical field and leverage my
                skills and experience within that role. My drive to learn and curious
                nature are my best qualities. My two study partners are my fur babies
                Avocado and Yoshi
            </p>
        </article>
      </div>

      <div class="team-member-card">
        <img src="https://via.placeholder.com/200x200" />
        <article>
          <h2>Ryan</h2>
          <p class="team-info">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit dolores
            vero exercitationem? Dolores nisi sequi rerum repudiandae veniam
            eligendi ipsum eum. Ad provident voluptas dolorum deserunt dolor
            enim doloremque expedita.
          </p>
        </article>
      </div>

      <div class="team-member-card">
        <img src="./images/chris.png" />
        <article>
          <h2>Chris</h2>
          <p class="team-info">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus optio
            possimus molestiae eligendi saepe quas doloribus aut consequuntur,
            rerum enim totam quis illo facere porro earum adipisci rem
            distinctio asperiores.
          </p>
        </article>
      </div>

      
      <div class="team-member-card">
          <img src="./images/davee.png" />
              <article>
              <h2>Davee</h2>
              <p class="team-info">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe illo
                  inventore amet eveniet, pariatur laudantium obcaecati tempora nam
                  voluptatum, necessitatibus placeat culpa porro accusamus earum
                  officia! Numquam necessitatibus vel autem.
                </p>
            </article>
      </div>
    </section>
  </body>
</html>
