<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ( '../layout/head' ) %>
  </head>
  <body>
    <header>
      <%- include ( '../layout/header' ) %>
    </header>
    <h1 class="about-h1">Meet the Team</h1>

    <section class="about-section">
      
      <div class="team-member-card">
        <article>

          <div class="social-media">
            <h2 class="about-h2">Michelle Salazar</h2>
            <a href="https://www.linkedin.com/in/michellesalazar010/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
            <a href="https://github.com/MISalz"><i class="fa fa-github-square" aria-hidden="true"></i></a>
          </div>

          <p class="team-info">
            <img src="/images/michelle.jpeg" />
            I am a software engineer with over 13 years in the Medical field, 7
            years in Leadership and 2 years working as a Business Analyst. My
            career goals are to align myself in a technical field and leverage
            my skills and experience within that role. My drive to learn and
            curious nature are my best qualities. My two study partners are my
            fur babies Avocado and Yoshi
          </p>
        </article>
      </div>

      <div class="team-member-card">
        <article>

          <div class="social-media">
            <h2 class="about-h2">Ryan Geddes</h2>
            <a href="https://www.linkedin.com/in/ryan-geddes-b4b783108/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
            <a href="https://github.com/Ryan-Geddes"><i class="fa fa-github-square" aria-hidden="true"></i></a>
          </div>
       
          <p class="team-info">
            <img src="/images/ryan.jpeg" />
            I am a software developer with a background in marine insurance.  Currently I work as a sales associate at Zillow and assist real estate agents and brokers with setting up listing feeds to our network.  I love my job but am excited to transition into a role with more opportunities for creative problem solving.  I have been supported throughout my CodeFellows experience by my girlfriend Jacqui and study partner/house rabbit Boomer. 
          </p>
        </article>
      </div>

      <div class="team-member-card">
        <article>
          <div class="social-media">
            <h2 class="about-h2">Chris Bortel</h2>
            <a href="https://www.linkedin.com/in/chris-bortel/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
            <a href="https://github.com/Chris-Bortel"><i class="fa fa-github-square" aria-hidden="true"></i></a>
          </div>
          
          
          <p class="team-info">
            <img src="/images/chris.jpeg" />
            I am a Seattle-based software developer with a focus in full stack
            javascript development. Prior to pursuing this career, I spent five
            years working in special education. During this time, I worked with
            diverse populations throughout various Seattle communities. Working
            within a team, I developed plans to make meaningful programmatic
            changes in order to meet designated goals.
            <br />
            <br />

            I love learning new technologies, building applications that are
            accessible for users of all backgrounds, and I am excited to
            continue building my understanding of pairing efficient logic with
            intuitive user interface.
          </p>
        </article>
      </div>

      <div class="team-member-card">
        <article>
          <div class="social-media">
            <h2 class="about-h2">Davee Sok</h2>
            <a href="https://www.linkedin.com/in/davee-s-3798721a4/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
            <a href="https://github.com/daveeS987"><i class="fa fa-github-square" aria-hidden="true"></i></a>
          </div>

          <p class="team-info">
            <img src="/images/davee.jpeg" />
            I’m a software developer with a decade experience in military and
            government service and I've also owned a business in Houston for a
            couple years.
          </p>
        </article>
      </div>

    </section>
    <footer>
      <div class="footer-text">
        <h4>&copy 2020 | M.R.C.D</h4>
      </div>
    </footer>
  </body>
</html>
