<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ( '../layout/head' ) %>
  </head>
  <body>
    <header>
      <%- include ( '../layout/header' ) %>
    </header>
    <h1 class="about-h1">Meet the Team</h1>

    <section class="about-section">
      
      <div class="team-member-card">
        <article>
          <h2 class="about-h2">Michelle</h2>
          <p class="team-info">
            <img src="/images/michelle.jpeg" />
            I am a software engineer with over 13 years in the Medical field, 7
            years in Leadership and 2 years working as a Business Analyst. My
            career goals are to align myself in a technical field and leverage
            my skills and experience within that role. My drive to learn and
            curious nature are my best qualities. My two study partners are my
            fur babies Avocado and Yoshi
          </p>
        </article>
      </div>

      <div class="team-member-card">
        <article>
          <h2 class="about-h2">Ryan</h2>
          <p class="team-info">
            <img src="/images/ryan.jpeg" />
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit dolores
            vero exercitationem? Dolores nisi sequi rerum repudiandae veniam
            eligendi ipsum eum. Ad provident voluptas dolorum deserunt dolor
            enim doloremque expedita.
          </p>
        </article>
      </div>

      <div class="team-member-card">
        <article>
          <h2 class="about-h2">Chris</h2>
          <p class="team-info">
            <img src="/images/chris.jpeg" />
            I am a Seattle-based software developer with a focus in full stack
            javascript development. Prior to pursuing this career, I spent five
            years working in special education. During this time, I worked with
            diverse populations throughout various Seattle communities. Working
            within a team, I developed plans to make meaningful programmatic
            changes in order to meet designated goals.
            <br />
            <br />

            I love learning new technologies, building applications that are
            accessible for users of all backgrounds, and I am excited to
            continue building my understanding of pairing efficient logic with
            intuitive user interface.
          </p>
        </article>
      </div>

      <div class="team-member-card">
        <article>
          <h2 class="about-h2">Davee</h2>
          <p class="team-info">
            <img src="/images/davee.jpeg" />
            I’m a software developer with a decade experience in military and
            government service and I've also owned a business in Houston for a
            couple years.
          </p>
        </article>
      </div>

    </section>
    <footer>
      <div class="footer-text">
        <h4>&copy 2020 | M.R.C.D</h4>
      </div>
    </footer>
  </body>
</html>
