<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Document</title>
</head>
<body>
    <h1>HELLO WORLD I AM WORKING I AM INDEX.EJS</h1>
    <form method="get" action="/render_results">
        <fieldset>
        <input type="text" placeholder="zipcode" name="searchQuery" required></input>
        <button type="submit">Search</button>
        </fieldset>
    </form>

</body>
</html>