<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ( '../layout/head' ) %>
</head>
<body style="background-image: url('images/fadedPark.png');">
    
    <header>
        <%- include ( '../layout/header' ) %>
    </header>
  
        <div class="search-container">
            <form method="get" action="/render-results">
                <fieldset>
                    <input type="text" placeholder="zipcode or city" name="searchQuery" required></input>
                    <button type="submit">Search</button>
                </fieldset>
            </form>
        </div>
    
    </body>
            <footer> 
                 <%- include ( '../layout/footer' ) %>
            </footer>
</html>