body {
  text-align: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: white;
  font-family: 'Hind Siliguri', sans-serif;
  /* background-color: gray; */
  /* background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12); */
  /* background-color: #c7ecee; */
}

main, footer {
  width: 96vw;
  margin: 70px auto 20px;

}

header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  height: 5rem;
  width: 100%;
  background-color: #33d9b2;
  z-index: 2;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  display: flex;
  margin: 1 auto;
  width: 90vw;
  /* margin: 40px auto 10px; */
  flex-shrink: 0;
  color:rgba(0, 0, 0, 0.598);
}

nav {
  padding: 1rem 0rem;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 1rem;
}

a {
  color: rgb(0, 0, 0);
  font-size: 1rem;
}

b {
  font-family: 'Hind Siliguri', sans-serif;
  font-weight: 500;
  font-size: 1rem;
}
p {
  font-size: .8rem;
}

i {
  padding: 0rem .18rem;
  color: #e99a1a;
}
li a img {
  padding-right: .5rem;
}
h1 {
  font-family: 'Hind Siliguri', sans-serif;;
  text-align: center;
  font-size: 3rem;
  /* margin-bottom: 20px; */
  color: #4E342E;
}

h2 {
  font-family: 'Hind Siliguri', sans-serif;;
  font-size: 1rem;
  /* padding-top: .15rem; */
  padding-bottom: .75rem;
}

h3 {
  font-family: 'Hind Siliguri', sans-serif;;
  font-size: 1rem;
  padding-top: .5rem;
  padding-bottom: -2rem;
}

h4 {
  text-align: center;
  font-size: 1rem;
  color: black;
  margin-top: auto;
}

article {
  display: flex;
  flex-direction: column;
  padding-top: .75rem;
}

themes {
  background-color: #33d9b2;
  background-color: #ff793f;
  background-color: #f7f1e3;
  background-color: #aaa69d;
  background-color: #4E342E;
}