html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: #c7ecee;
}

main, footer {
  width: 90vw;
  margin: 70px auto 20px;
  /* background-color: rgba(240, 255, 255, 0.365); */

}

header {
  position: fixed;
  top: 0;
  height: 6rem;
  width: 100%;
  background-color: #33d9b26e
}

footer {
  width: 90vw;
  margin: 40px auto 10px;
}

themes {
  background-color: #33d9b2;
  background-color: #ff793f;
  background-color: #f7f1e3;
  background-color: #aaa69d;
  background-color: #4E342E;
}