body {
  text-align: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: white;
  font-family: 'Hind Siliguri', sans-serif;
}

main, footer {
  width: 96vw;
  margin: 70px auto 20px;

}

header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  height: 5rem;
  width: 100%;
  background-color: #33d9b2;
  z-index: 2;
}

nav {
  padding: 1rem 0rem;
}

h1 {
  font-family: 'Hind Siliguri', sans-serif;;
  text-align: center;
  font-size: 3rem;
  /* margin-bottom: 20px; */
  color: #4E342E;
}

h2 {
  font-family: 'Hind Siliguri', sans-serif;;
  font-size: 1rem;
  /* padding-top: .15rem; */
  padding-bottom: .75rem;
}

h3 {
  font-family: 'Hind Siliguri', sans-serif;;
  font-size: 1.1rem;
  padding-top: .5rem;
  padding-bottom: -2rem;
  color: black;
}

h4 {
  text-align: center;
  font-size: 1rem;
  color: black;
  margin-top: auto;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 1rem;
}

li a img {
  padding-right: .5rem;
}

a {
  color: #06755b;;
  font-size: .9rem;
  text-decoration:none;
}

b {
  font-family: 'Hind Siliguri', sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  
}

p {
  font-size: .8rem;
}

i {
  padding: 0rem .18rem;
  color: #e99a1a;
}

article {
  display: flex;
  flex-direction: column;
  padding-top: .75rem;
}

button {
  border-radius: 44px 44px 44px 44px;
  height: 1.75rem;
  font-family: 'Hind Siliguri', sans-serif;
  background-color: rgba(255, 255, 255, 0.68);
}

button:hover {
	background-color:#dcf1ee8e;
} 

button:active {
	position:relative;
	top:1px;
} 

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  display: flex;
  margin: 1 auto;
  width: 90vw;
  flex-shrink: 0;
  color:rgba(0, 0, 0, 0.598);
}
