

nav {
  padding: 1rem 0rem;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

a {
  color: #f7f1e3;
  font-size: 2rem;
}

h1 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
  color: #4E342E;
}

h3 {
  font-size: 12px;
}

/* index search container */
.search-container {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  text-align: center;
  background-color: rgba(240, 255, 255, 0.365);
  margin: 20rem auto;
  padding: 1.5rem;

}



fieldset input {
  margin-bottom: 2rem;
}


.map-container {
  margin: 20px auto;
}

/* Results page */
.results-search-container {
  text-align: center;
}
.results-section {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: space-evenly;
  height: 45rem;
  overflow: scroll;
}

.result-card {
  background-color: rgba(240, 255, 255, 0.541);
  width: 13.37rem;
  font-size: .5em;
  margin-top: 1rem;
  margin: .5rem;
  /* overflow:scroll; */
}

.result-card img {
  width: 13.37rem;
  max-height: 13.37rem;
}



/* Details */
.details-top {
  margin: 2rem auto 0rem;
  text-align: center;
  padding: 1rem;
}

.form-container {
  text-align: center;
}




/* details page business section */

.rate-it-container {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  text-align: center;
  background-color: rgba(240, 255, 255, 0.365);
  margin: 0 auto;
  padding: 1.5rem;
}

.business-container {
  display:flex;
  flex-direction: row;
  margin: 0 auto;

}

.truck_card {
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
  justify-content: space-evenly;
  overflow: scroll;
  margin: 2rem; */
 
}
.groomer_card {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: space-evenly;
}

.vet_card {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: space-evenly;
}

.dayCare_card {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: space-evenly;
}

.business-card {
  background-color: azure;
  width: 13.37rem;
  font-size: .5em;
  margin-top: 1rem;
  margin: .5rem;
}

.business-card img {
  opacity: .75;
  width: 13.37rem;
  max-height: 13.37rem;
}

themes {
  background-color: #33d9b2;
  background-color: #ff793f;
  background-color: #f7f1e3;
  background-color: #aaa69d;
  background-color: #4E342E;
}