/* index search container */

.search-container {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  text-align: center;
  background-color: rgba(240, 255, 255, 0.365);
  margin: 20rem auto;
  padding: 1.5rem;
}

fieldset input {
  margin-bottom: 2rem;
}

.map-container {
  margin: 20px auto;
}

/* Results page */

.results-search-container {
}

.results-section {
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2rem;

}

.result-card {
  justify-self: center;
  text-align: cent;
  background-color: rgba(240, 255, 255, 0.541);
  width: 26rem;
  font-size: .5em;
  margin-top: 1rem;
  margin: .5rem;
  /* overflow:scroll; */
}

.result-card img {
  width: 26rem;
  max-height: 26rem;
}

/* Details */

.details-top {
  margin: 2rem auto 0rem;
  text-align: center;
  padding: 1rem;
}

.form-container {
  text-align: center;
}

/* details page business section */

.rate-it-container {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  text-align: center;
  background-color: rgba(240, 255, 255, 0.365);
  margin: 0 auto;
  padding: 1.5rem;
}

.business-container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.business-card {
  background-color: azure;
  width: 13.37rem;
  font-size: .5em;
  margin-top: 1rem;
  margin: .5rem;
}

.business-card img {
  opacity: .75;
  width: 13.37rem;
  max-height: 13.37rem;
}

.category {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: space-evenly;
}

themes {
  background-color: #33d9b2;
  background-color: #ff793f;
  background-color: #f7f1e3;
  background-color: #aaa69d;
  background-color: #4E342E;
}