/* index search container */
.search-container {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  text-align: center;
  margin: 15rem auto;
  padding: 1.5rem;
}

fieldset input {
  border-radius: 44px 44px 44px 44px;
  margin-bottom: 2rem;
  text-align: center;
  height: 1.5rem;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.584);
}

.map-container {
  margin: 20px auto;
}

/* Results page */
.results-search-container {
  padding-top: 2rem;
}

.results-search-container fieldset input {
  margin-bottom: 1rem;
}

.results-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 1rem;
}

.result-card {
  justify-self: center;
  text-align: center;
  background-color: #80cbc349;
  max-width: 18rem;
  max-height: 22rem;
  font-size: .5em;
  margin-top: 1rem;
  margin: .5rem;
  padding-bottom: -2rem;
  font-size: 1.5rem;
}

.result-card img {
  width: 100%;
  max-height: 18rem;
  padding-bottom: .25rem;
}

/* Details */
.details-top {
  margin: 2rem auto 0rem;
  text-align: center;
  padding: 1rem auto 0rem;
}

.details-top img {
  margin-top: 1rem;
  width: 18rem;
  max-height: 18rem;
}

.form-container {
  text-align: center;
}

.rating-input {
  width: 1.65rem;
  margin-left: .5rem;
  margin-right: .18rem;
  text-align: center;
  border-radius: 15px 15px 15px 15px;
  background-color: rgba(128, 128, 128, 0.091);
}

/* details page business section */
.rate-it-container {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20rem;
  background-color: rgba(240, 255, 255, 0.105);
  color: rgba(128, 128, 128, 0.831);
  margin: 0 auto;
  padding: .5rem;
}

.business-buttons-container {
  padding-top: 1rem;
  margin-bottom: -1rem;
}
.business-buttons {
  padding-top:1rem
}

.category {
  width: 90%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: .25rem;
}

.business-card {
  justify-self: center;
  text-align: center;
  background-color: #80cbc368;
  max-width: 18rem;
  max-height: 100%;
  font-size: .5em;
  margin-top: 1rem;
  margin: .5rem;
  padding-top: .15rem;
  padding-bottom: .15rem;
  font-size: 1.5rem;
}

.business-card img {
  opacity: .75;
  width: 18rem;
  max-height: 18rem;
}

/* About us section */
.about-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  margin: 1rem auto;
  padding-top: 0rem
}

.team-member-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 22rem;
  margin-left: 1rem;
  font-size: .5em;
  padding-bottom: .5rem;
  padding-left: 1rem;
  font-size: 2rem;
}

.about-h1 {
  margin-top: 6rem;
  font-size: 2.3rem;
  color: rgba(0, 0, 0, 0.842);
  
}
.about-h2 {
  font-size: 1.6rem;
  font-weight: normal;
  margin-bottom: -.5rem;
  text-align: left;
  padding-bottom: -.5rem;
  padding-right: .8rem;
}

.team-member-card img {
  display: block;
  float: left;
  width: 8rem;
  max-height: 8rem;
  margin: 0 auto;
  margin-right: 1rem;
  margin-bottom: .25rem;
}

.team-info {
display: block;
line-height: 1rem;
text-align: left;
margin-right: 1rem;
color: rgba(0, 0, 0, 0.653);
}

.social-media {
  display: flex;
  text-align: left;
  margin-bottom: .5rem;
  align-items: center;
}

 a i {
 color:  #2ac09d;
}
