.business_card {
  border: 1px green solid;
  margin: 1.5rem;
}

.groomer_card {
  display: none;
}

.vet_card {
  display: none;
}

.dayCare_card {
  display: none;
}

.thank_you_message {
  border: solid 1px blue;
  padding: 1rem;
  margin: 1rem;
  display: none;
}


button {
  border-radius: 44px 44px 44px 44px;
  height: 1.75rem;
  font-family: 'Hind Siliguri', sans-serif;
  background-color: rgba(255, 255, 255, 0.68);
}

button:hover {
	background-color:#dcf1ee8e;
}
button:active {
	position:relative;
	top:1px;
}


#result-map {
  padding-top: 0rem;
}
.details-map-container {
  padding-top: 4rem;
}
.result-map {
  padding-top: 3.5rem;
}
#map {
  /* Always set the map height explicitly to define the size of the div
  * element that contains the map. */
  height: 40vh;
  width: 21.75rem;
  margin: -2rem auto 2rem;
}
